{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "ERBoxShadowBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block erboxshadow_body %}

    <h2>Liste des annonces</h2>

    {% if listAdverts|length > 0 %}
        <ul>
            {% for advert in listAdverts %}
                <li>
                    <a href="{{ path('er_boxshadow_view', {'id': advert.id}) }}">
                        {{ advert.title }}
                    </a>
                    par {{ advert.author }},
                    le {{ advert.date|date('d/m/Y') }}
                </li>
            {% else %}
                <li>Pas (encore !) d'annonces</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}