{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "ERBoxShadowBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block erboxshadow_body %}

    <h2>Liste des annonces</h2>

    {% if listAdverts|length > 0 %}
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('er_boxshadow_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
                {% if advert.image is not null %}
                <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
                    {% endif %}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('er_boxshadow_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}